<%if notice %>
<div class="alert alert-success" role="alert">
  <p id="notice" class="alert"><%= notice %></p>
</div>

<%end %>
<h3>
  <%= t('tweets.index.all')%>
</h3>

<table>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td> @<%= tweet.user.name %> said <%= link_to tweet.body, tweet %></td>
      </tr>
    <% end %>
  </tbody>
</table>
