<div class="clear" />

<%= render "tweet"%>

<div class="btn-group bottom" role="group" aria-label="...">
  <% if @tweet.user == current_user %>
    <%= link_to t('edit'), edit_tweet_path(@tweet), class: "btn btn-default" %>
  <% end%>

  <%= link_to t('back'), tweets_path, class: "btn btn-default" %>
</div>
