<h1>Editing User</h1>

<%= render 'form' %>


<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Show', @user, class: "btn btn-default" %>
  <%= link_to 'Back', tweets_path, class: "btn btn-default" %>
</div>
