 <section class="">
  <%= link_to "profile", @user %><br>
  <%= render 'commom/relationship_numbers' %>

  Tweets:</b> <%= @user.tweets.count %>

<% if @user.tweets.last %>
  <h4>
    Last Tweet
  </h4>
  <blockquote>
     <%= @user.tweets.last.body %>
  </blockquote>
<% end %>
</section>
