@import "bootstrap-sprockets";
@import "bootstrap";

div {
  // border: 1px solid green;
}

.logo, .new_tweet_img{
  font-size: 25px;
  width:  40px;
  height: 40px;
  float: left;
  position: relative;
  top: -10px;
}

.new_tweet_img {
  float: right;;
  top: 5px;
}

.navbar-header .navbar-brand {
  white-space: nowrap;
}

.container {
  width: 370px;
}


@media screen and (min-width: 900px) {
  .container {
    width: 870px;
  }
}

.nick{
  font-family: "Gotham Narrow";
  font-size: 1.4em;
}
